body {
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem;
}

.membro {
    display: inline-block;
    width: 200px;
    margin: 1rem;
    text-align: center;
}

.membro img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.galeria img {
    width: 200px;
    height: 150px;
    margin: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

input, textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
}

button {
    background-color: #333;
    color: #fff;
    padding: 0.5rem;
    border: none;
}
#encontre-equipe {
    padding: 2rem;
    background-color: #f0f0f0; /* Cor de fundo opcional */
}

#encontre-equipe ul {
    list-style: none;
    padding: 0;
}

#encontre-equipe li {
    margin-bottom: 1rem;
}

#encontre-equipe strong {
    font-weight: bold;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
